.about-img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius-soft);
}

.card {
  margin: var(--spacing-l) auto;
  gap: var(--spacing-xl);
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .about-img {
    object-fit: contain;
    height: auto;
  }
}
