@font-face {
  font-family: "Brusher";
  src: url("../assets/fonts/Brusher.ttf");
}

:root {
  /* Font sizes  */
  --font-size-xs: 16px;
  --font-size-s: 20px;
  --font-size-m: 42px;
  --font-size-l: 64px;
  /* Font families  */
  --font-primary: "Roboto", sans-serif;
  --font-title: "Brusher", cursive;
  /* Spacing  */
  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 32px;
  --spacing-xl: 64px;
  --spacing-section: 86px;
  /* Colors  */
  --color-dark: #1c2b32;
  --color-light: hsl(36, 1%, 100%);
  --color-primary: hsl(36, 100%, 67%);
  --color-primary-hover: hsl(36, 95%, 73%);
  --color-secondary: hsl(323, 100%, 70%);
  --color-secondary-hover: hsl(323, 95%, 75%);
  /* Transition  */
  --transition-quick: all 0.2s;
  /* Radius  */
  --radius-soft: 5px;
}

html {
  box-sizing: border-box;
  font-size: var(--font-size-s);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  background: var(--color-light);
  color: var(--color-dark);
}

ul {
  padding: 0;
}

/* Typography  */
h1,
h2,
h3 {
  font-family: var(--font-title);
}

.title {
  font-size: var(--font-size-l);
}

h2 {
  font-size: var(--font-size-m);
  text-align: center;
  margin: var(--spacing-m) 0;
}

h2::before {
  content: "~~~ ";
}

h2::after {
  content: " ~~~";
}

h3 {
  font-size: var(--font-size-m);
}

p {
  line-height: 1.5;
}

/* Utility */
.flex {
  display: flex;
}

.flex-centered {
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-flow: column;
}

.hidden {
  display: none;
}

/* Layout  */
.container {
  max-width: 1500px;
  margin: 0 auto;
  border-radius: var(--radius-soft);
}

section {
  margin: var(--spacing-section) 0;
}

/* Nav styles  */
.nav {
  margin: 0 auto;
  padding: var(--spacing-s) 0;
}

.nav__container {
  justify-content: space-between;
  padding: 0 var(--spacing-xl);
}

.nav-list {
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-l);
}

.nav-list-link {
  font-size: var(--font-size-xs);
  color: var(--color-dark);
  text-decoration: none;
  transition: var(--transition-quick);
  border-radius: var(--radius-soft);
}

.nav-list-link:hover {
  text-decoration: underline;
}

.logo {
  height: 130px;
  border: 1px solid transparent;
}

/* Mobile nav  */
.mobile-nav {
  background: var(--color-dark);
  position: absolute;
  top: 0;
  right: 0;
  width: 75vw;
  height: 100vh;
  flex-flow: column;
}

.mobile-nav .nav-list-item {
  width: 100%;
  padding: var(--spacing-m);
}

.mobile-nav .nav-list-link {
  width: 100%;
  color: var(--color-light);
  text-align: center;
}

.nav-list-mobile {
  justify-content: start;
  flex-flow: column;
}

.nav-close-btn {
  border: none;
  background: none;
  text-align: right;
  font-size: 22px;
  color: var(--color-light);
  padding: var(--spacing-m);
  font-weight: bold;
}

.nav-close-btn:hover {
  color: var(--color-primary);
}

/* Buttons  */
button {
  border: none;
  background: none;
  cursor: pointer;
  transition: var(--transition-quick);
}

.btn {
  display: inline-block;
  text-decoration: none;
  padding: var(--spacing-s) var(--spacing-l);
  font-weight: bold;
  color: var(--color-dark);
  border-radius: var(--radius-soft);
}

.btn-primary {
  background: var(--color-primary);
}

.btn-primary:hover {
  background: var(--color-primary-hover);
}

.btn-primary--alt {
  background: var(--color-light);
}

.btn-primary--alt:hover {
  background: var(--color-secondary-hover);
}

.btn-margin {
  margin-top: var(--spacing-l);
}

.ham-btn {
  align-self: center;
  padding: var(--spacing-s);
  border-radius: var(--radius-soft);
}

.ham-btn:hover {
  background: var(--color-primary);
}

.ham-icon {
  font-size: 22px;
  color: var(--color-dark);
  pointer-events: none;
}

/* Hero */
.hero__container {
  align-items: center;
  justify-content: space-between;
  margin: var(--spacing-xl) auto;
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
}

.hero-text__container {
  padding: var(--spacing-l) 0;
  margin: 0 auto;
}

.hero-img {
  width: 50%;
  max-height: 700px;
  object-fit: cover;
  border-radius: var(--radius-soft);
}

/* Services Section  */
.card {
  max-width: 1000px;
  padding: var(--spacing-l);
  margin: var(--spacing-l) auto;
  justify-content: space-between;
}

.card > div {
  width: 50%;
}

.card-right {
  gap: var(--spacing-m);
}

.card-list {
  padding-left: 45px;
}

.card-list > li {
  margin: var(--spacing-s);
}

@media only screen and (max-width: 1000px) {
  .container {
    margin: var(--spacing-m);
  }
  .hero__container {
    align-items: start;
    flex-flow: column;
    gap: var(--spacing-l);
    padding: var(--spacing-l) var(--spacing-l) 0 var(--spacing-l);
  }
  .hero-img {
    width: 100%;
  }
  .nav__container {
    padding: var(--spacing-m);
  }
  .card {
    flex-flow: column;
    align-items: center;
    gap: var(--spacing-m);
  }
  .card > div {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  .btn {
    width: 100%;
    text-align: center;
  }
  .nav-list-desktop {
    display: none;
  }
  .hero__container {
    text-align: center;
  }
  .title {
    font-size: var(--font-size-m);
    margin: var(--spacing-xs) 0;
  }
}

@media only screen and (min-width: 701px) {
  .ham-btn,
  .mobile-nav {
    display: none;
  }
}
